*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 10vh;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: solid 5px;
    border-color: black;
}

#lista-alunos{

    display: flex;
    margin-left: 2%;
    margin-top: 5%;
    
    
}

#lista-alunos li{

    margin-right: 10vh;
    margin-left: 10vh;
    text-align: center;
    list-style: none;
    background-color: antiquewhite;
    border: 5px solid;
    border-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    #lista-alunos {
      display: grid;
    }

    #lista-alunos li{
        margin-bottom: 10vh;
    }
  }